<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionsLabel" jhiTranslate="quanlysoApp.transactions.home.createOrEditLabel">Create or edit a Transactions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transactions.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transactions.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="quanlysoApp.transactions.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="transactions.userId"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="quanlysoApp.transactions.chosenNumber" for="field_chosenNumber">Chosen Number</label>
            <input type="number" class="form-control" name="chosenNumber" id="field_chosenNumber"
                [(ngModel)]="transactions.chosenNumber"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="quanlysoApp.transactions.netValue" for="field_netValue">Net Value</label>
            <input type="number" class="form-control" name="netValue" id="field_netValue"
                [(ngModel)]="transactions.netValue"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
