.must-center {
    text-align:center;
}

th.must-center, td.must-center {
    vertical-align: middle;
}

th.must-justify {
    width: 50%;
}

#tbBet {
    border-collapse: separate;
    thead {
        tr {
            background-color: darkseagreen;
        }
    }
}
