<div>
    <h2>
        <span jhiTranslate="global.menu.tool">Tool</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <div class="table-responsive" *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <h4>Update data</h4>
        <form name="toolForm" role="form" novalidate (ngSubmit)="crawl()" #crawlForm="ngForm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="must-center"><span jhiTranslate="quanlysoApp.transactions.date">Date</span> <span class="fa"></span></th>
                    <th class="must-center"><span jhiTranslate="quanlysoApp.transactionDetails.channels">Channels</span> <span class="fa"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="must-center">
                        <input id="field_crawl_openDate" type="datetime-local" class="form-control" name="openDate" [(ngModel)]="crawlData.openDate" (change)="onCrawlOpenDateChange()"/>
                    </td>
                    <td class="must-center">
                        <select class="form-control" id="field_crawl_channels" name="channels" [(ngModel)]="crawlData.channelCodes" multiple>
                           <option [ngValue]="channelOption.code" *ngFor="let channelOption of channelsForCrawl; trackBy: trackChannelById">{{ channelOption.name }}</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="submit" [disabled]="progress.total > 0" class="btn btn-primary">
                    <span class="fa fa-refresh"></span>&nbsp;<span>Update</span>
                </button>
            </div>
        </form>
        <br>
        <div class="progress" *ngIf="progress.total > 0">
			<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
				[attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100"
				style="min-width: 2em;" [style.width]="(progress.processing/progress.total)*100 + '%'">
				 {{ (progress.processing/progress.total)*100 }}%
			</div>
		</div>
    </div>
    <br/>
    <div class="table-responsive" *jhiHasAnyAuthority="'ROLE_USER'">
        <h4>Calculate</h4>
        <form name="toolForm" role="form" novalidate (ngSubmit)="check()" #toolForm="ngForm">
            <!-- Transaction -->
            <table class="form-group table table-striped">
                <thead>
                <tr>
                    <th class="must-center">
                        <span jhiTranslate="quanlysoApp.transactions.date">Date</span>
                        <span class="fa"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="must-center">
                        <input id="field_openDate" type="datetime-local" name="openDate"
                               [(ngModel)]="openDate" (change)="onCalculateOpenDateChange()" required/>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Transaction detail -->
            <table class="form-group table table-striped" id="tbBet">
                <thead>
                <tr>
                    <th>
                    </th>
                    <th colspan="4" class="form-group must-center">2D</th>
                    <th colspan="4" class="must-center">3D</th>
                    <th colspan="2" class="must-center">4D</th>
                    <th class="must-center" rowspan="4">Channels</th>
                    <th class="must-center" rowspan="4">Net Amount</th>
                </tr>
                <tr>
                    <th class="must-center" jhiTranslate="quanlysoApp.transactionDetails.costRate"></th>
                    <th colspan="4" class="must-center">
                        <input style="text-align: center" type="number" name="cost-rate-2d" id="cost-rate-2d" *ngIf="costFactor2d"
                               min="{{ costFactor2d.minRate }}" max="{{ costFactor2d.maxRate }}" step="0.01"
                               [(ngModel)]="costFactor2d.rate" (volumechange)="onChangeCost2d()" (change)="onChangeCost2d()">
                    </th>
                    <th colspan="4" class="must-center">
                        <input style="text-align: center" type="number" name="cost-rate-3d" id="cost-rate-3d" *ngIf="costFactor3d"
                               min="{{ costFactor3d.minRate }}" max="{{ costFactor3d.maxRate }}" step="0.01"
                               [(ngModel)]="costFactor3d.rate" (change)="onChangeCost3d()">
                    </th>
                    <th colspan="2" class="must-center">
                        <input style="text-align: center" type="number" name="cost-rate-4d" id="cost-rate-4d" *ngIf="costFactor4d"
                               min="{{ costFactor4d.minRate }}" max="{{ costFactor4d.maxRate }}" step="0.01"
                               [(ngModel)]="costFactor4d.rate" (change)="onChangeCost4d()">
                    </th>
                </tr>
                <tr>
                    <th class="must-center" jhiTranslate="quanlysoApp.transactionDetails.profitRate"></th>
                    <th colspan="4" class="form-group must-center">
                        <input style="text-align: center; max-width: 83px" type="number" name="profit-rate-2d" id="profit-rate-2d"
                               *ngIf="profitFactor2d" [(ngModel)]="profitFactor2d.rate" disabled>
                    </th>
                    <th colspan="4" class="must-center">
                        <input style="text-align: center; max-width: 83px" type="number" name="profit-rate-3d" id="profit-rate-3d"
                               *ngIf="profitFactor3d" [(ngModel)]="profitFactor3d.rate" disabled>
                    </th>
                    <th colspan="2" class="must-center">
                        <input style="text-align: center; max-width: 83px" type="number" name="profit-rate-4d" id="profit-rate-4d"
                               *ngIf="profitFactor4d" [(ngModel)]="profitFactor4d.rate" disabled>
                    </th>
                </tr>
                <tr id="sub_title">
                    <th class="must-center">Number</th>
                    <th class="must-center">Top</th>
                    <th class="must-center">Bottom</th>
                    <th class="must-center">Both</th>
                    <th class="must-center">Roll</th>
                    <th class="must-center">Top</th>
                    <th class="must-center">Bottom</th>
                    <th class="must-center">Both</th>
                    <th class="must-center">Roll</th>
                    <th class="must-center">Bottom</th>
                    <th class="must-center">Roll</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tran of transactions; trackBy: trackTransactionsById; let i = index">
                    <td class="must-center">
                        <input type="number" class="form-control" name="chosenNumber_{{ i }}"
                               id="chosenNumber_{{ i }}"
                               [(ngModel)]="tran.chosenNumber"/>
                    </td>
                    <td class="must-center" *ngFor="let detail of tran.transactionDetailsDTOs; trackBy: trackTransactionDetailsById; let j = index">
                        <input type="number" class="form-control" *ngIf="detail" name="amount_{{ i }}_{{ j }}"
                               id="amount_{{ i }}_{{ j }}" [(ngModel)]="detail.amount"/>
                    </td>
                    <td class="must-center">
                        <select class="form-control" name="trans_channel_{{ i }}" id="trans_channel_{{ i }}" *ngIf="channels" [(ngModel)]="tran.chooseChannel"
                                (ngModelChange)="onChangeChannel(tran)">
                            <option *ngFor="let channel of channels; trackBy: trackChannelById" [ngValue]="channel">
                                {{ channel.name }}
                            </option>
                        </select>
                    </td>
                    <td class="must-center">
                        <input type="number" class="form-control" name="net_amount_{{ i }}"
                               id="net_amount_{{ i }}"
                               [(ngModel)]="tran.netValue" disabled/>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Submit button -->
            <div>
                <button type="button" class="btn btn-primary float-right" (click)="addRecord()">
                    <span class="fa fa-plus"></span>
                    <span  jhiTranslate="entity.action.add">Add</span>
                </button>
                <button type="reset" class="btn btn-default" (click)="reset()">
                    <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Reset</span>
                </button>
                <button type="submit" [disabled]="toolForm.form.invalid || isProcess" class="btn btn-primary">
                    <span class="fa fa-calculator"></span>&nbsp;<span jhiTranslate="entity.action.check">Check</span>
                </button>
            </div>
        </form>
    </div>
</div>
