.must-center {
    text-align:center;
}

th.must-center, td.must-center {
    vertical-align: middle;
}

th.must-justify {
    width: 50%;
}

th {
    label.normal {
        font-weight: normal;
    }
}

#tbBet {
    border-collapse: separate;
    thead {
        tr {
            background-color: darkseagreen;
        }
        #sub_title {
            background-color: lightsteelblue;
        }
    }
}
