<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCostFactorLabel" jhiTranslate="quanlysoApp.costFactor.home.createOrEditLabel">Create or edit a Cost Factor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!costFactor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="costFactor.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="quanlysoApp.costFactor.minRate" for="field_min_rate">Min Rate</label>
            <input type="number" class="form-control" name="minRate" id="field_min_rate"
                [(ngModel)]="costFactor.minRate"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="quanlysoApp.costFactor.maxRate" for="field_max_rate">Max Rate</label>
            <input type="number" class="form-control" name="maxRate" id="field_max_rate"
                   [(ngModel)]="costFactor.maxRate"
            />
        </div>

        <div class="form-group">
            <label jhiTranslate="quanlysoApp.costFactor.styles" for="field_styles">Styles</label>
            <select class="form-control" id="field_styles" name="styles" [(ngModel)]="costFactor.stylesId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="styleOption.id" *ngFor="let styleOption of styles; trackBy: trackStyleById">{{styleOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
